discord.py
python-dotenv
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.0+cpu  # CPU-only version
torchvision==0.17.0+cpu  # CPU-only version, needed for ResNet
Pillow  # Needed for image processing
boto3  # Needed for S3